
body, h1, p, button {
    margin: 10px;
    padding: 0;
  }
  
 
  .first {
    background-color: #6ce299;
    padding: 20px;
    width: 300px;     height: 200px; 
    box-sizing: border-box;
    border-radius: 10px;
    height: 270px;
  }
  
  /* Heading styles */
  h1 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  
  /* Paragraph styles */
  p {
    margin-bottom: 20px;
  }
  
  /* Button styles */
  .btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  